main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 64px;
}

.player-cards {
  $min-card-width: 300px;
  display: grid;
  grid-template-columns: minmax($min-card-width, 2fr) 1fr minmax(
      $min-card-width,
      2fr
    );
  padding: 32px;
}

.versus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 400;
  padding: 16px;
}
