<main>
  <section class="battle-form">
    <h4 class="mat-h4">Choose what should fight:</h4>
    <mat-button-toggle-group [formControl]="battleTypeForm">
      <mat-button-toggle [value]="ResourceTypes.PEOPLE"
        >People</mat-button-toggle
      >
      <mat-button-toggle [value]="ResourceTypes.STARSHIPS"
        >Starships</mat-button-toggle
      >
    </mat-button-toggle-group>

    <button class="start-battle-button" mat-raised-button color="primary" (click)="startBattle()">
      Start Battle
    </button>
  </section>
</main>
